.item-sidebar {
  display: flex;
  justify-content: center;
  width: 98%;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-bottom: black;
}

.item-sidebar a {
  text-decoration: none;
}

.item-sidebar .container-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-sidebar h4 {
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  color: black;
}

.item-sidebar .date-ago {
  font-size: 12px;
}

.item-sidebar .image-item-sidebar {
  border-radius: 20px;
}

@media screen and (max-width: 1400px) {
  .item-sidebar .container-text {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1000px) {
  .item-sidebar h4 {
    font-size: 1rem;
  }
}
