.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
}

.page-color {
  width: 100vw;
  height: 800px;
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .page-color {
    display: none;
  }
}
