.menu-container {
  height: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.menu-container .menu-link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-size: 20px;
  padding: 8px;
  color: var(--color-text);
}

.menu-container .menu-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  transform-origin: bottom right;
  transition: transform 500ms ease-out;
}

.menu-container .menu-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-container .menu-link-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 768px) {
  .menu-container {
    height: 100vh;
    width: 100vw;

    position: absolute;
    left: 0;
    top: 0;

    padding-top: 60px;
    padding-left: 70px;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    background-color: transparent;
    transition: all 500ms ease 0s;
  }

  .menu-container ul {
    transition: transform 500ms ease 0s;
    transform: translate(-1000%, 0%);
  }

  .menu-container li {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .menu-container a {
    color: var(--color-text);
    font-size: 1.3rem;
  }

  .active {
    background-color: var(--color-background);
    opacity: 0.97;
  }

  .active > ul {
    transform: translate(0%, 0%);
  }
}
