.sidebar {
  margin: 1rem;
  width: 22%;
  padding: 1.5rem;
  margin-right: 3rem;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.sidebar h3 {
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 0.7rem;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
