.container-tag {
  display: inline-block;
  max-width: 100px;
  min-width: 60px;
  padding: 0.3rem 1rem;
  border-radius: 5px;

  background: black;
}

.container-tag p {
  color: #fff;
  font-family: "Lato";
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
